/* Body stuff */
body {
    margin: 0;
}

.herotext {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    letter-spacing: 1rem;
}

#welcome {
    letter-spacing: normal;
}

/* Base button style */
.btn {
    position: absolute;
    padding: 12px 20px;
    border-radius: 100px;
    text-decoration: none;
    background: rgb(186, 186, 186);
    color: white;
}

/* Random-ish positions */
.b1 {
    top: 30%;
    left: 15%;
}

.b2 {
    top: 80%;
    left: 70%;
}

.b3 {
    top: 20%;
    left: 70%;
}

.b4 {
    top: 75%;
    left: 20%;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}