/* Body stuff */
body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.herotext {
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

h1:hover {
    font-variant: small-caps;
    /*user-select stops the ability for the user to select the text*/
    letter-spacing: 15px;
    font-weight: 750;
}










.enterbtn {
    background: #000000;
    padding: 12px 20px;
    color: #ffffff;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
}






/* Base button style */
.btn {
    position: absolute;
    padding: 12px 20px;
    border-radius: 100px;
    text-decoration: none;
    font-family: Cambria;
    background: rgb(130, 129, 129);
    color: white;
    transition: all 0.3s ease;
}

/* Random-ish positions */
.b1 {
    top: 30%;
    left: 15%;
}
.b2 {
    top: 80%;
    left: 70%;
}
.b3 {
    top: 20%;
    left: 70%;
}
.b4 {
    top: 75%;
    left: 20%;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}



/*Logo text*/
.logo {
    position: relative;
}

.logo::after {
    content: attr(data-text);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    color: #555;
}

.logo:hover::after {
    opacity: 1;
}